{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <!-- Hero Section -->
  <section class="hero">
    <div class="slider">
      <div class="slider-item">
        <img src="{% static 'images/hero_img.jpg' %}" alt="Electronics Sale">
        <div class="slider-caption"></div>
           <a href="{% url 'item_list' %}" id="cta-button">Shop Now</a>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
