 
{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<h1 id="card_header">Available Items</h1>

<div id="all_items_body">
    {% for item in items %}
        <div class="card">
            {% with item.itemimage_set.first as image %}
                {% if image %}
                    <img src="{{ image.image.url }}" alt="{{ item.name }}" class="card-image">
                {% endif %}
            {% endwith %}
            <a href="{% url 'item_view' item.id %}" class="card-title">{{ item.name }}</a>
        <div class="card-price">€{{ item.price }}</div>


        </div>
    {% empty %}
        <p>No items available.</p>
    {% endfor %}
</div>

<nav class="pagination-container" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
        </li>
        {% for page_num in page.paginator.page_range %}
            <li class="page-item {% if page.number == page_num %}active{% endif %}">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
