{% extends 'base.html' %}
{% load static %}

{% block content %} 
<h1 class="profile-name">Welcome, {{ user.username }}</h1>



<div class="profile-info-section">
  <!-- Profile Info -->
<h2>Profile Information</h2>
<p><strong>Name:</strong> {{ profile.name }}</p>
<p><strong>Number:</strong> {{ profile.number }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>


  <a href="{% url 'logout' %}">Logout</a>

  <h2>Profile Information</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Profile</button>
</form>

</div>
<br>
<hr>
<div class="profile-container"></div>


<!-- Selling Items -->
<div class="items-section">
  <h2 class="section-heading"><i class="fas fa-shopping-cart"></i> Selling Items</h2>
  <div class="scrollable-container">
    {% for item in items %}
    <div class="item">
      <h3 class="item-name">{{ item.name }}</h3>
      <p class="item-description">{{ item.description }}</p>
      <p class="item-price_profile">Price: €{{ item.price }}</p>
       <!-- Mark as Sold Button -->
      {% if user.is_authenticated and item.seller == user %}
      <!-- Edit and Delete Buttons for the item owner -->
      <div class="item-actions">
        <a class="action-button edit-button" href="{% url 'edit_item' item.id %}">Edit</a>
        <form method="POST" action="{% url 'mark_sold' item.id %}">
          {% csrf_token %}
          <button type="submit" class="action-button mark-as-sold-button">Mark as Sold</button>
        </form>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- Sold Items -->
{% if sold_items %}
<div class="items-section">
  <h2 class="section-heading"><i class="fas fa-check-circle"></i> Sold Items</h2>
  <div class="scrollable-container">
    {% for item in sold_items %}
    <div class="item">
      <h3 class="item-name">{{ item.name }}</h3>
      <p class="item-description">{{ item.description }}</p>
      <p class="item-price">Price: €{{ item.price }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<p>No sold items yet.</p>
{% endif %}


 {% endblock %}