/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    color: #6c757d;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

h2 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}